
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{.Competition.Name}}</div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Team</th>
                <th>GP</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Pts</th>
            </tr>
        {{range (index .Standings 0).Table}}
            <tr>
                <td>{{.Position}}</td>
                <td>{{.Team.Name}}</td>
                <td>{{.PlayedGames}}</td>
                <td>{{.Won}}</td>
                <td>{{.Draw}}</td>
                <td>{{.Lost}}</td>
                <td>{{.GoalsFor}}</td>
                <td>{{.GoalsAgainst}}</td>
                <td>{{.GoalDifference}}</td>
                <td>{{.Points}}</td>
            </tr>
        {{end}}
        </table>
    </div>
</div>

